@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tw-animate-css";



@theme {
  --color-darkBlack: #0d0d0d;
  --color-greyBlack: #151515;
  --color-greyMedium: #252525;

  --color-shadowBlack: #030303;
  --color-gradBot: #222222;
  --color-gradTop: #121212;
  --color-gradTop2: #151515;
  --color-gradTop3: #0d0d0d;
  --color-br1: #282828;
  --color-br2: #323232;
  --color-dim: #9c9c9c;
  --color-ddd: #dddddd;
  --color-91: #919191;
  --color-rr: #e32038;
  --color-rrbg: #cc1b1b;
  --color-gg: #4e9f3d;
  --color-ggbg: #16a016;

  --color-exp: #7425d9;
  --color-repeat: #0499c9;
  --color-explight: #a456f6;
  --color-inc: #089c71;

  --color-trip2: #0099f8;
  --color-budget: #f66e00;

  --color-year1: #f7bb16;
  --color-year2: #247df2;

  --color-black: #000;
  --color-white: #fff;
  --color-utlities: #0047ab;
  --color-travel: #1f51ff;
  --color-food: #e49b0f;
  --color-shop: #29a8ab;
  --color-health: #880808;
  --color-insurance: #31473a;
  --color-loan: #228b22;
  --color-edu: #8d5524;
  --color-gift: #f33a6a;
  --color-ent: #808000;
  --color-personal: #5d3fd3;
  --color-tax: #834333;
  --color-misc: #000000;
  --color-formInput: #f5f5f5;

  --color-grey-border: #676767;
  --color-grey-hover: #2c2c2c;

  --color-dark-prime: #0f0f0f;
  --color-dark-p2: #0d0d0d;

  --color-dark-sec: #181818;
  --color-dark-s2: #141414;
  --color-dark-s3: #252525;

  --color-dark-br1: #202020;

  --color-slate-br1: #2c2c2c;
  --color-slate-1: #e8e8e8;
  --color-slate-2: #707070;

  --color-exp-t: #b26dfc;
  --color-exp-b: #a04af7;

  --color-dark-a0: #050505;
  --color-dark-a1: #0d0d0d;
  --color-dark-a1.2: #121212;
  --color-dark-a2: #181818;
  --color-dark-a3: #202020;
  --color-dark-a4: #252525;
  --color-dark-a5: #2b2b2b;
  --color-dark-a6: #303030;
  --color-dark-a7: #404040;

  --color-slate-a1: #fafafa;
  --color-slate-a2: #fafafa;
  --color-slate-a3: #d1d1d1;
  --color-slate-a4: #b3b3b3;
  --color-slate-a5: #919191;
  --color-slate-a6: #808080;
  --color-slate-a7: #666666;
  --color-slate-a8: #5c5c5c;

  --color-exp-aa: #9a3df2;
  --color-exp-a0: #aa5bfc;
  --color-exp-a1: #b26dfc;
  --color-exp-a2: #bc7efd;
  --color-exp-a3: #c68efe;
  --color-exp-a4: #cf9efe;
  --color-exp-a5: #d8aeff;
  --color-exp-a6: #e0beff;

  --color-inc-a0: #09ab66;
  --color-inc-a1: #21c27e;
  --color-inc-a2: #4cc98d;
  --color-inc-a3: #69d19a;
  --color-inc-a4: #81d8a8;

  --color-rep-a0: #069bcc;
  --color-rep-a1: #07b0e8;
  --color-rep-a2: #49b9eb;
  --color-rep-a3: #69c1ed;
  --color-rep-a4: #83caf0;

  --color-bud-a0: #fab025;
  --color-bud-a1: #f7bc4f;
  --color-bud-a2: #fac364;
  --color-bud-a3: #fccb78;
  --color-bud-a4: #fed28b;

  --color-trip-a1: #f55ba5;
  --color-trip-a2: #f871af;
  --color-trip-a3: #fb85b8;
  --color-trip-a4: #fd97c2;
  --color-trip-a5: #ffa9cc;

  --color-error-a1: #e31709;

  --color-sam: C892F7;

  --color-inc-t: #21c27e;
  --color-inc-b: #0c9c5d;

  --color-trip: #984ca1;
  --color-trip-t: #984ca1;
  --color-trip-b: #984ca1;
}
@theme {
  --text-12px: 12px;
  --text-12.5: 12.5px;
  --text-15.5: 15.5px;
  --text-14px: 14px;
  --text-16px: 16px;
  --text-18px: 18px;
  --text-20px: 20px;
  --text-22px: 22px;
  --text-24px: 24px;
  --text-28px: 28px;
  --text-32px: 32px;
  --text-36px: 36px;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../src/assets/Fonts/lato/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("../src/assets/Fonts/lato/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../src/assets/Fonts/lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("../src/assets/Fonts/lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../src/assets/Fonts/lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../src/assets/Fonts/lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("../src/assets/Fonts/lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../src/assets/Fonts/lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("../src/assets/Fonts/lato/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-ThinItalic";
  src: url("../src/assets/Fonts/lato/Lato-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Sink";
  src: url("../src/assets/Fonts/sink/Sink.ttf") format("truetype");
}
@font-face {
  font-family: "Barlow-Light";
  src: url("../src/assets/Fonts/Barlow/Barlow-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../src/assets/Fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow-Medium";
  src: url("../src/assets/Fonts/Barlow/Barlow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("../src/assets/Fonts/Barlow/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-SemiBoldItalic";
  src: url("../src/assets/Fonts/Barlow/Barlow-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("../src/assets/Fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-BoldItalic";
  src: url("../src/assets/Fonts/Barlow/Barlow-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@theme {
  --font-title: "Sink";
  --font-para-r: "Lato-Regular";
  --font-para2-r: "Barlow-Regular";
  --font-para-l: "Lato-Light";
  --font-para2-l: "Barlow-Light";
  --font-para2-m: "Barlow-Medium";
  --font-para2-b: "Barlow-SemiBold";
  --font-para2-bb: "Barlow-Bold";
  --font-para-i: "Lato-Italic";
  --font-para-b: "Lato-Bold";
  --font-para-bb: "Lato-Black";
  --font-para-ib: "Lato-BoldItalic";
}

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.inputType-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.inputType-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inputType-number {
  -moz-appearance: textfield;
  appearance: textfield;
}
.slectInput-arrow {
  appearance: none;
}
.number-filed-arrow-none {
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-filed-arrow-none::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-filed-arrow-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.scrollBar::-webkit-scrollbar {
  width: 0.55rem; /* 8px */
}

.scrollBar::-webkit-scrollbar-track {
  border-radius: 100px;
  /* creates space on X-axis (left/right) */
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 100px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}
